html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#floating-panel {
  z-index: 999;
}
