<%=stylesheet_link_tag "maps", property: "stylesheet"%>
<%=javascript_include_tag "maps"%>
<div class="container" data-ng-app="heatMap">
    <header class="jumbotron">
        <h1>Maps App</h1>
    </header>
</div>
