<%=stylesheet_link_tag "maps", property: "stylesheet"%>
<%=javascript_include_tag "maps"%>
<div class="container" data-ng-app="heatMap">
  <div id="floating-panel">
    <button data-ng-click="map.toggleHeat()">Toggle Heatmap</button>
    <button data-ng-click="mainController.updateHeatLayer(38.903365, -77.029681)">Change gradient</button>
    <button data-ng-click="map.changeRadius">Change radius</button>
    <button data-ng-click="map.changeOpacity">Change opacity</button>
  </div>
  <ui-gmap-google-map center='{
  latitude: 38.907240,
  longitude: -77.036591
}' zoom='12'>
      <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer>
  </ui-gmap-google-map>
</div>
