<%=stylesheet_link_tag "maps", property: "stylesheet"%>
<%=javascript_include_tag "maps"%>
<div class="container" data-ng-app="heatMap">
  <main data-ng-controller="maps_controller as vm">
    <div id="floating-panel">
      <button data-ng-click="map.toggleHeat()">Toggle Heatmap</button>
      <button data-ng-click="map.changeGradient()">Change Gradient</button>

    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback" id="layerInUse"></ui-gmap-layer>
    </ui-gmap-google-map>
  </main>
</div>
