<!DOCTYPE html>
<html>
  <head>
    <title>HotInHere</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" class="active"><a ui-sref="home" rel="start" href="#!/">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="api" rel="api" href="#!/api">API documentation</a></li>
                <li ui-sref-active="active"><a ui-sref="changelog" rel="changelog" href="#!/changelog">Changelog</a></li>
                <li class="dropdown">
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/angular-ui/angular-google-maps" rel="external" target="_blank" class="link-external"><i class="icon-github-alt"></i> Code</a></li>
                        <li><a href="https://developers.google.com/maps/documentation/javascript/" rel="external" target="_blank" class="link-external"><i class="icon-question-sign"></i> Google Maps Javascript API v3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
    <div class='container'>
        <div class='ui-view'>
            <div class='page-header'>
                <h1 class="headline" itemprop="name">Angular Heat</h1>
                <div class='row'>
                    <div class='col-md-4'>
                        <div class='well'>
                            <p>Testing Look At Our App</p>
                            <p>Picture Button</p>
                            <p>Github Link</p>
                        </div>
                    </div>
                        <div class='col-md-8 map'>
                            <%= yield %>
                        </div>
                    <div class='col-md-12'>
                        <h2 class='page-doc'>Stream of Tweets?</h2>
                    </div>
                    <div class = 'col-md-6'>
                        <h2 class='page-doc'>About</h2>
                    </div>
                    <div class = 'col-md-6'>
                        <h2 class='page-doc'>Contributors</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
