<!DOCTYPE html>
<html>
<head>
    <title>Helios</title>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/crazy-paparazzi-collection-svg/100/Noun_Project_100Icon_10px_grid_2-97-128.png">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class='parallax'>
        <div class='caption'>
            <span class='border'>HELIOS</span>
        </div>
    </div>
    <div class='second-span'>
        <h3 style="text-align:center;">Maps Demo</h3>
        <p>The Helios Application allows you to use the interface below to see a live feed of Tweets across the world as a heat map. The map center will automatically update to your current location. Data is Visualized as a heatmap showing concentration of current twitter activity. Trending hashtags from the sample data set are displayed on the left at the click of a button. You can use the two filters displayed on the map interface to display diffferent sets of data from the sample stream by hashtag or status.</p>
    </div>
    <%= yield %>
    </div>
    <div class='fifth-span col-md-12'>
        <h1 class='dev-headline'>Development</h1>
    </div>
</body>
</html>
